@charset "UTF-8";
/*--------------------------------------------------------------
# Paths
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navbar variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Paths
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navbar variables
--------------------------------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src: url("../../assets/fonts/icomoon/icomoon.eot?t5vpi4");
  src: url("../../assets/fonts/icomoon/icomoon.eot?t5vpi4#iefix") format("embedded-opentype"), url("../../assets/fonts/icomoon/icomoon.ttf?t5vpi4") format("truetype"), url("../../assets/fonts/icomoon/icomoon.woff?t5vpi4") format("woff"), url("../../assets/fonts/icomoon/icomoon.svg?t5vpi4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-warning:before {
  content: ""; }

.icon-quotes-left:before {
  content: ""; }

.icon-quotes-right:before {
  content: ""; }

.icon-angle-double-down:before {
  content: ""; }

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: lavanderia-font;
  src: url("../../assets/fonts/Lavanderia Sturdy.otf"); }

@font-face {
  font-family: slabo-font;
  src: url("../../assets/fonts/Slabo27px-Regular.ttf"); }

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
body, html {
  position: relative;
  height: 100%; }

body {
  margin: 0;
  text-align: center;
  font-family: "slabo-font";
  font-feature-settings: 'calt' 0, 'dlig' 0, 'liga' 1, 'salt' 0, 'swsh' 0, 'titl' 0, 'kern' 1;
  color: #8964C2;
  background-color: #F8F8F8; }

#container {
  position: relative; }
  #container.include-content {
    min-height: 100%; }

#content {
  margin: 2em 0; }
  #content .highlited {
    color: #8964C2; }

textarea {
  max-width: 100%; }

.centered-column-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; }

.centered-row-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row; }

.entry-content-page {
  width: 75%;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 0 1px 0 #454545;
  padding: 2vmin; }

.title-parts {
  font-size: 12vmin;
  font-family: "slabo-font";
  font-feature-settings: 'calt' 0, 'dlig' 0, 'liga' 1, 'salt' 0, 'swsh' 0, 'titl' 0, 'kern' 1;
  color: #454545;
  position: relative;
  padding-bottom: 4.5vmin;
  margin-bottom: 5.5vmin;
  margin-top: 3.5vmin; }
  .title-parts .part-2 {
    font-size: 0.5em;
    font-family: "lavanderia-font", sans-serif;
    font-feature-settings: 'calt' 0, 'dlig' 0, 'liga' 1, 'salt' 0, 'swsh' 0, 'titl' 0, 'kern' 1;
    color: #8964C2;
    position: absolute;
    bottom: 0;
    left: 15vmin;
    right: 0;
    margin-left: auto;
    margin-right: auto; }

@media screen and (min-width: 1024px) {
  .entry-content-page {
    width: 940px; } }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.sakura {
  background: #8964C2; }

#stephanie-header {
  overflow: hidden;
  position: relative;
  height: 100%;
  cursor: default;
  /* Create the parallax scrolling effect */
  background: #F8F8F8 no-repeat fixed center;
  background-size: cover; }
  #stephanie-header .content {
    position: absolute;
    height: 80%;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    #stephanie-header .content .logo {
      height: 60%;
      font-family: "lavanderia-font", sans-serif;
      font-feature-settings: 'calt' 0, 'dlig' 0, 'liga' 1, 'salt' 0, 'swsh' 0, 'titl' 0, 'kern' 1;
      color: #FFFFFF;
      justify-content: center; }
      #stephanie-header .content .logo .title {
        font-size: 6vmin; }
      #stephanie-header .content .logo .subtitle {
        font-size: 4vmin; }
      #stephanie-header .content .logo .header-divider-container {
        width: 30vmin;
        margin: 1.5vmin;
        box-sizing: border-box; }
        #stephanie-header .content .logo .header-divider-container svg {
          width: auto;
          height: auto;
          fill: #FFFFFF; }
  #stephanie-header .index-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    #stephanie-header .index-button a {
      display: inline-block;
      font-style: italic;
      animation: jumping 2s ease-in-out 0s infinite; }
      #stephanie-header .index-button a, #stephanie-header .index-button a:visited, #stephanie-header .index-button a:link {
        color: #FFFFFF;
        text-decoration: none;
        transition: 0.2s; }
      #stephanie-header .index-button a:active, #stephanie-header .index-button a:hover {
        color: #8964C2; }
      #stephanie-header .index-button a .text {
        display: block;
        font-size: 1.75vmin;
        letter-spacing: 0.25vmin; }
      #stephanie-header .index-button a .icon {
        font-size: 3vmin; }

@keyframes jumping {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, -2vmin); } }

/*--------------------------------------------------------------
# Wedding Countdown
--------------------------------------------------------------*/
.wedding-countdown {
  height: 9vmin; }
  .wedding-countdown .simply-section {
    display: flex;
    justify-content: space-around;
    width: 14vmin;
    color: #FFFFFF;
    font-size: 2.5vmin; }
    .wedding-countdown .simply-section div {
      display: flex;
      align-items: center;
      flex-direction: column; }
      .wedding-countdown .simply-section div .simply-amount {
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        background: rgba(69, 69, 69, 0.4);
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.4);
        width: 7vmin;
        height: 7vmin; }
      .wedding-countdown .simply-section div .simply-word {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1.5vmin;
        margin-top: 0.75vmin;
        text-transform: uppercase;
        letter-spacing: 0.5vmin;
        text-indent: 0.5vmin; }

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
nav#navbar {
  z-index: 100 !important;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: #FFFFFF;
  font-weight: bold;
  letter-spacing: 0.025em;
  box-shadow: 0 0 1px 0 #454545; }
  nav#navbar .logo {
    width: 3.5em;
    height: 3.5em;
    padding: 0.75em; }
    nav#navbar .logo:after {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    nav#navbar .logo svg {
      fill: #454545; }
      nav#navbar .logo svg:hover {
        fill: #8964C2; }
  nav#navbar .menu-menu-container {
    width: 75%;
    margin: 0 2vmin; }
    nav#navbar .menu-menu-container ul {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 0;
      margin: 0; }
      nav#navbar .menu-menu-container ul li {
        position: relative;
        display: inline-block;
        line-height: 5em; }
        nav#navbar .menu-menu-container ul li.highlited > a {
          color: #8964C2; }
        nav#navbar .menu-menu-container ul li a {
          padding: 2.5em 0;
          color: #454545;
          text-decoration: none; }
          nav#navbar .menu-menu-container ul li a:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            margin-bottom: -1px;
            background-color: transparent;
            transition: all .25s ease-in-out; }
          nav#navbar .menu-menu-container ul li a:hover:after {
            background-color: #8964C2; }
        nav#navbar .menu-menu-container ul li.current_page_item a:after {
          background-color: #8964C2; }
  nav#navbar #menu-toggle {
    display: none; }
  nav#navbar .logo {
    order: 1; }
  nav#navbar .menu-menu-container {
    order: 2; }
  nav#navbar .label-toggle {
    order: 3; }
  @media screen and (max-width: 1024px) {
    nav#navbar {
      position: absolute;
      z-index: 10;
      overflow: hidden; }
    nav#navbar .menu-menu-container ul {
      justify-content: space-between;
      flex-direction: column;
      transition: all 1s ease;
      max-height: 0; }
      nav#navbar .menu-menu-container ul:first-child {
        padding-top: 5em; }
    nav#navbar #menu-toggle:checked ~ .menu-menu-container ul {
      max-height: 100vh; }
    nav#navbar .label-toggle {
      background: linear-gradient(to bottom, #454545 0%, #454545 20%, transparent 20%, transparent 40%, #454545 40%, #454545 60%, transparent 60%, transparent 80%, #454545 80%, #454545 100%);
      cursor: pointer;
      height: 2em;
      width: 2em;
      margin: 1.5em; } }

/*--------------------------------------------------------------
# Home page
--------------------------------------------------------------*/
#content {
  color: #454545; }
  #content .description-image {
    width: 35vmin;
    border-radius: 50%;
    margin-bottom: 2em; }

/*--------------------------------------------------------------
# RSVP
--------------------------------------------------------------*/
.entry-content-page .rsvp-content {
  font-family: "slabo-font";
  font-feature-settings: 'calt' 0, 'dlig' 0, 'liga' 1, 'salt' 0, 'swsh' 0, 'titl' 0, 'kern' 1; }
  .entry-content-page .rsvp-content #rsvpArea + #rsvpPlugin > .rsvpParagraph {
    font-size: 2vmin;
    color: #8964C2; }
  .entry-content-page .rsvp-content #rsvpPlugin form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .entry-content-page .rsvp-content #rsvpPlugin form#rsvp, .entry-content-page .rsvp-content #rsvpPlugin form[name="rsvpForm"] {
      flex-direction: column; }
    .entry-content-page .rsvp-content #rsvpPlugin form .rsvpParagraph {
      width: 100%; }
      .entry-content-page .rsvp-content #rsvpPlugin form .rsvpParagraph label {
        display: block;
        text-align: left;
        font-weight: bold;
        margin-bottom: 1vmin; }
        .entry-content-page .rsvp-content #rsvpPlugin form .rsvpParagraph label.error {
          font-weight: normal;
          color: #E80000; }
      .entry-content-page .rsvp-content #rsvpPlugin form .rsvpParagraph input[type="text"] {
        background: #f7f7f7;
        border: 1px solid #c4c4c4;
        border-radius: 0;
        box-shadow: none;
        color: #787878;
        height: 5vmin;
        width: 100%;
        display: block; }
        .entry-content-page .rsvp-content #rsvpPlugin form .rsvpParagraph input[type="text"].error {
          border-color: #E80000; }
  .entry-content-page .rsvp-content .rsvpParagraph {
    display: inline-block; }
    .entry-content-page .rsvp-content .rsvpParagraph input[type="submit"] {
      margin-top: inherit;
      display: block; }
    .entry-content-page .rsvp-content .rsvpParagraph strong {
      white-space: pre-line; }
  .entry-content-page .rsvp-content .rsvpFormField, .entry-content-page .rsvp-content .rsvpFormField textarea {
    max-width: 100%; }
  .entry-content-page .rsvp-content form#rsvpForm .rsvpCustomQuestions + .rsvpParagraph {
    margin-top: 7vmin; }
  .entry-content-page .rsvp-content form#rsvpForm .rsvpFormField.rsvpCheckboxCustomQ {
    margin: 0 4vmin;
    text-align: center; }
  .entry-content-page .rsvp-content form#rsvpForm .rsvpAdditionalAttendeeQuestions {
    text-align: center; }
  .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] {
    cursor: pointer; }
    .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label {
      display: table-caption;
      text-align: center;
      cursor: pointer;
      height: 8vmin; }
      .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label:before {
        content: "";
        background: black;
        display: inline-block;
        width: 100%;
        height: 75%;
        -webkit-mask-position: center bottom;
        -webkit-mask-repeat: no-repeat, no-repeat; }
      .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label[for$="question11"]:before {
        -webkit-mask-image: url("../images/town-hall.svg");
        -webkit-mask-size: 4vmin; }
      .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label[for$="question12"]:before, .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label[for$="question25"]:before {
        -webkit-mask-image: url("../images/church.svg");
        -webkit-mask-size: 5vmin; }
      .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label[for$="question13"]:before, .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label[for$="question26"]:before {
        -webkit-mask-image: url("../images/reception.svg");
        -webkit-mask-size: 4vmin; }
      .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label[for$="question14"]:before, .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label[for$="question27"]:before {
        -webkit-mask-image: url("../images/diner.svg");
        -webkit-mask-size: 4vmin; }
    .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox]:checked + label:before {
      background-color: #8964C2; }

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.wishlist .content-wrapper .buy-button, .wishlist .content-wrapper .buy-button:hover, .wishlist .overlay button, .wishlist .overlay button:hover,
input[type="submit"], input[type="button"].ninja-forms-field.nf-element {
  padding: 1vmin 2vmin;
  font-size: 100%;
  cursor: pointer; }
  .wishlist .content-wrapper .buy-button, .wishlist .content-wrapper .buy-button:hover, .wishlist .overlay button, .wishlist .overlay button:hover,
  input[type="submit"], input[type="button"].ninja-forms-field.nf-element {
    cursor: pointer;
    border: 2px solid #8964C2;
    color: #8964C2;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0); }
    .wishlist .content-wrapper .buy-button:hover, .wishlist .content-wrapper .buy-button:hover:hover, .wishlist .overlay button:hover, .wishlist .overlay button:hover:hover,
    input[type="submit"]:hover, input[type="button"].ninja-forms-field.nf-element:hover {
      color: #FFFFFF;
      background: #8964C2; }
    .wishlist .content-wrapper .buy-button:active, .wishlist .content-wrapper .buy-button:hover:active, .wishlist .overlay button:active, .wishlist .overlay button:hover:active,
    input[type="submit"]:active, input[type="button"].ninja-forms-field.nf-element:active {
      border: 2px solid #8964C2;
      background: #8964C2;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none; }

/*--------------------------------------------------------------
# Wedding list
--------------------------------------------------------------*/
.wedding-list .text {
  padding: 1em;
  line-height: 1.6em; }

.wedding-list .icon-gift {
  width: 12vmin;
  height: 12vmin;
  margin: auto;
  -webkit-mask-image: url("../images/gift.svg");
  -webkit-mask-size: 12vmin;
  background-color: #8964C2;
  -webkit-mask-position: center bottom;
  -webkit-mask-repeat: no-repeat, no-repeat;
  padding: 2em; }

.wishlist {
  margin: auto; }
  .wishlist li {
    border-bottom: 2px solid #8964C2; }
  .wishlist .content-wrapper a {
    text-decoration: none;
    color: #8964C2; }
    .wishlist .content-wrapper a:hover {
      text-decoration: underline; }
  .wishlist .content-wrapper .buy-button.unavailable {
    opacity: 0.5;
    background: transparent;
    pointer-events: none;
    cursor: default; }
  .wishlist .content-wrapper .price {
    margin: 0.2em 0;
    font-size: 1.6em;
    font-weight: bold;
    color: #8964C2; }

/*--------------------------------------------------------------
# Timeline
--------------------------------------------------------------*/
.entry-content-page .cd-container.timeline-express.single-column {
  margin-top: 1em !important; }

.entry-content-page .cd-container.timeline-express.single-column::before {
  left: 2.5vmin !important; }

.entry-content-page .cd-container.timeline-express.single-column .cd-timeline-img {
  left: -0.5vw !important; }

.entry-content-page .cd-timeline-content {
  position: relative;
  top: 0; }
  .entry-content-page .cd-timeline-content::before {
    top: 2.5vmin; }
  .entry-content-page .cd-timeline-content .cd-timeline-item-title {
    font-size: 2em;
    font-family: "lavanderia-font", sans-serif;
    font-feature-settings: 'calt' 0, 'dlig' 0, 'liga' 1, 'salt' 0, 'swsh' 0, 'titl' 0, 'kern' 1; }
  .entry-content-page .cd-timeline-content .the-excerpt {
    position: initial; }
    .entry-content-page .cd-timeline-content .the-excerpt .wpgmp_map_container {
      margin-top: 1.5em; }
    .entry-content-page .cd-timeline-content .the-excerpt .time {
      position: absolute;
      margin: 2vw 0;
      font-size: 1.6em;
      font-weight: bold;
      top: 0;
      color: #8964C2; }
    .entry-content-page .cd-timeline-content .the-excerpt .description {
      margin-bottom: 1vmin; }
      .entry-content-page .cd-timeline-content .the-excerpt .description .text {
        width: 70%;
        padding: 0.5em; }
        .entry-content-page .cd-timeline-content .the-excerpt .description .text .location {
          margin: 1vmin; }
          .entry-content-page .cd-timeline-content .the-excerpt .description .text .location a {
            text-decoration: none; }
            .entry-content-page .cd-timeline-content .the-excerpt .description .text .location a:hover {
              text-decoration: underline; }
        .entry-content-page .cd-timeline-content .the-excerpt .description .text .warning {
          font-style: italic;
          font-size: 0.9em;
          color: #707070; }
          .entry-content-page .cd-timeline-content .the-excerpt .description .text .warning .icon-warning {
            font-size: 1.25em;
            display: block;
            margin-bottom: 0.25em;
            color: #E7536F; }
      .entry-content-page .cd-timeline-content .the-excerpt .description .img-location {
        width: 30%; }
        .entry-content-page .cd-timeline-content .the-excerpt .description .img-location img {
          max-width: 100%;
          box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); }

.entry-content-page .cd-timeline-img span::before {
  position: absolute;
  left: 0;
  top: 5%;
  content: "";
  background: white;
  display: inline-block;
  width: 100%;
  height: 90%;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat, no-repeat; }

.entry-content-page .cd-timeline-img span[title="Mairie"]::before {
  -webkit-mask-image: url("../images/town-hall.svg");
  -webkit-mask-size: 50%; }

.entry-content-page .cd-timeline-img span[title="Eglise"]::before {
  -webkit-mask-image: url("../images/church.svg");
  -webkit-mask-size: 55%; }

.entry-content-page .cd-timeline-img span[title="Réception"]::before {
  top: -10%;
  -webkit-mask-image: url("../images/reception.svg");
  -webkit-mask-size: 60%; }

/*--------------------------------------------------------------
# Loader
--------------------------------------------------------------*/
#site-loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0; }

#site-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 60999;
  background: #454545; }

@keyframes heartbeat {
  0% {
    transform: scale(0.75); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.75); } }

#heart {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 90px;
  animation: heartbeat 1s infinite; }

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #E7536F;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%; }

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }
