@charset "UTF-8";
/*--------------------------------------------------------------
# Paths
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navbar variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Browser vendor prefixes
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Paths
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navbar variables
--------------------------------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src: url("../../assets/fonts/icomoon/icomoon.eot?t5vpi4");
  src: url("../../assets/fonts/icomoon/icomoon.eot?t5vpi4#iefix") format("embedded-opentype"), url("../../assets/fonts/icomoon/icomoon.ttf?t5vpi4") format("truetype"), url("../../assets/fonts/icomoon/icomoon.woff?t5vpi4") format("woff"), url("../../assets/fonts/icomoon/icomoon.svg?t5vpi4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-warning:before {
  content: ""; }

.icon-car:before {
  content: ""; }

.icon-angle-double-down:before {
  content: ""; }

.icon-euro:before {
  content: ""; }

.icon-map-marker:before {
  content: ""; }

.icon-star:before {
  content: ""; }

.icon-happy-face:before {
  content: ""; }

.icon-church:before {
  content: ""; }

.icon-diner:before {
  content: ""; }

.icon-reception:before {
  content: ""; }

.icon-town-hall:before {
  content: ""; }

.icon-gift:before {
  content: ""; }

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: lavanderia-font;
  src: url("../../assets/fonts/Lavanderia Sturdy.otf"); }

@font-face {
  font-family: slabo-font;
  src: url("../../assets/fonts/Slabo27px-Regular.ttf"); }

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
body, html {
  position: relative;
  height: 100%; }

body {
  margin: 0;
  text-align: center;
  font-family: "slabo-font";
  -moz-font-feature-settings: "liga=1", "kern=1", "calt=0", "dlig=0", "salt=0", "swsh=0", "titl=0";
  -moz-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
  -o-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
  -webkit-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
  font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
  color: #8964C2;
  background-color: #F8F8F8; }

#container {
  position: relative; }
  #container.include-content {
    min-height: 100%; }

#content {
  margin: 2em 0; }
  #content .highlighted {
    color: #8964C2; }

a {
  text-decoration: none;
  color: #8964C2; }
  a:hover {
    text-decoration: underline; }

textarea {
  max-width: 100%; }

.centered-column-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.centered-row-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.entry-content-page {
  width: 75%;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 0 1px 0 #454545;
  padding: 2vmin; }
  .entry-content-page::after {
    content: '';
    display: block;
    clear: both; }
  .entry-content-page.other-section {
    margin: 2em auto; }

.title-parts {
  font-size: 12vmin;
  font-family: "slabo-font";
  -moz-font-feature-settings: "liga=1", "kern=1", "calt=0", "dlig=0", "salt=0", "swsh=0", "titl=0";
  -moz-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
  -o-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
  -webkit-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
  font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
  color: #454545;
  position: relative;
  padding-bottom: 4.5vmin;
  margin-bottom: 5.5vmin;
  margin-top: 3.5vmin; }
  .title-parts .part-2 {
    font-size: 0.5em;
    font-family: "lavanderia-font", sans-serif;
    -moz-font-feature-settings: "liga=1", "kern=1", "calt=0", "dlig=0", "salt=0", "swsh=0", "titl=0";
    -moz-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
    -o-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
    -webkit-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
    font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
    color: #8964C2;
    position: absolute;
    bottom: 0;
    left: 15vmin;
    right: 0;
    margin-left: auto;
    margin-right: auto; }

@media screen and (min-width: 1024px) {
  .entry-content-page {
    width: 940px; } }

/*--------------------------------------------------------------
# Lodging
--------------------------------------------------------------*/
.sort {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin: 4vmin; }
  .sort .sort-title {
    padding-bottom: 30px;
    margin-right: 10px; }
  .sort .button-group, .sort .category {
    display: inline-block;
    margin: 0 5px; }
    .sort .button-group .button, .sort .category .button {
      width: 100px; }
    .sort .button-group .subtitle, .sort .category .subtitle {
      display: block;
      text-align: center;
      margin-top: 10px;
      font-size: 0.9em; }

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
.grid {
  width: 96%;
  margin: auto; }
  .grid .gutter-sizer {
    width: 4%; }
  .grid .grid-item {
    width: 48%;
    min-height: 560px;
    margin-bottom: 4%;
    padding: 1.5em;
    box-sizing: border-box;
    background: #f8f8f8;
    box-shadow: 0 3px 0 #dedede; }
    .grid .grid-item.large {
      width: 100%; }
      .grid .grid-item.large .image img {
        width: 100%;
        height: auto; }
    .grid .grid-item.title {
      min-height: 0;
      height: auto;
      margin-bottom: 2.15em; }
    .grid .grid-item.more {
      padding-top: 5em;
      min-height: 0; }
      .grid .grid-item.more.no-title {
        padding-top: 0; }
      .grid .grid-item.more .image {
        margin-top: 1.5em; }
    .grid .grid-item .more-title {
      font-family: "lavanderia-font", sans-serif;
      -moz-font-feature-settings: "liga=1", "kern=1", "calt=0", "dlig=0", "salt=0", "swsh=0", "titl=0";
      -moz-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
      -o-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
      -webkit-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
      font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
      background: #FFFFFF;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 1em;
      padding-bottom: 0.85em;
      font-size: 1.5em; }
    .grid .grid-item .image {
      margin-bottom: 1em; }
      .grid .grid-item .image img {
        width: auto;
        height: 300px;
        display: block;
        margin: auto;
        object-fit: cover;
        object-position: center;
        max-width: 100%; }
    .grid .grid-item .title {
      font-family: "lavanderia-font", sans-serif;
      -moz-font-feature-settings: "liga=1", "kern=1", "calt=0", "dlig=0", "salt=0", "swsh=0", "titl=0";
      -moz-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
      -o-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
      -webkit-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
      font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
      color: #454545;
      font-size: 1.5em; }
      .grid .grid-item .title:hover {
        text-decoration: none;
        color: #8964C2; }
    .grid .grid-item .text .info {
      list-style-type: none;
      text-align: left; }
      .grid .grid-item .text .info .icon {
        font-size: 1.25em;
        color: #8964C2;
        margin-right: 0.8em;
        width: 25px;
        display: inline-block;
        text-align: center; }
      .grid .grid-item .text .info .no-paragraph {
        position: relative; }
        .grid .grid-item .text .info .no-paragraph a {
          position: absolute;
          top: 0;
          margin-top: 0.25em; }
  .grid .image a,
  .grid .image a img {
    display: block;
    position: relative; }
  .grid .image a {
    overflow: hidden; }
  .grid .image a p {
    display: none; }
  .grid .image a div {
    position: absolute;
    background: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    cursor: pointer;
    word-wrap: break-word; }
  .grid .image a div span {
    color: #fff;
    display: block;
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 8px;
    line-height: 120%;
    opacity: .9;
    padding: 0 5%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

@media (max-width: 1024px) {
  .grid .grid-item {
    width: 98%;
    margin-bottom: 2%; }
  .grid .gutter-sizer {
    width: 0; } }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.sakura {
  background: #8964C2; }

#stephanie-header {
  overflow: hidden;
  position: relative;
  height: 100%;
  cursor: default;
  /* Create the parallax scrolling effect */
  background: #F8F8F8 no-repeat fixed center;
  background-size: cover; }
  #stephanie-header .content {
    position: absolute;
    height: 80%;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    #stephanie-header .content .logo {
      height: 60%;
      font-family: "lavanderia-font", sans-serif;
      -moz-font-feature-settings: "liga=1", "kern=1", "calt=0", "dlig=0", "salt=0", "swsh=0", "titl=0";
      -moz-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
      -o-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
      -webkit-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
      font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
      color: #FFFFFF;
      justify-content: center; }
      #stephanie-header .content .logo .title {
        font-size: 6vmin; }
      #stephanie-header .content .logo .subtitle {
        font-size: 4vmin; }
      #stephanie-header .content .logo .header-divider-container {
        margin: 1.5vmin;
        box-sizing: border-box; }
        #stephanie-header .content .logo .header-divider-container svg {
          width: 30vmin;
          height: 9.385vmin;
          fill: #FFFFFF; }
  #stephanie-header .index-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    #stephanie-header .index-button a {
      display: inline-block;
      font-style: italic;
      animation: jumping 2s ease-in-out 0s infinite; }
      #stephanie-header .index-button a, #stephanie-header .index-button a:visited, #stephanie-header .index-button a:link {
        color: #FFFFFF;
        text-decoration: none;
        transition: 0.2s; }
      #stephanie-header .index-button a:active, #stephanie-header .index-button a:hover {
        color: #8964C2; }
      #stephanie-header .index-button a .text {
        display: block;
        font-size: 1.75vmin;
        letter-spacing: 0.25vmin; }
      #stephanie-header .index-button a .icon {
        font-size: 3vmin; }

@keyframes jumping {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, -2vmin);
    -moz-transform: translate(0, -2vmin);
    -ms-transform: translate(0, -2vmin);
    -o-transform: translate(0, -2vmin);
    transform: translate(0, -2vmin); } }

/*--------------------------------------------------------------
# Wedding Countdown
--------------------------------------------------------------*/
.wedding-countdown {
  height: 9vmin; }
  .wedding-countdown .simply-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 14vmin;
    color: #FFFFFF;
    font-size: 2.5vmin; }
    .wedding-countdown .simply-section div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .wedding-countdown .simply-section div .simply-amount {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -ms-flex-pack: distribute;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        box-sizing: border-box;
        background: rgba(69, 69, 69, 0.4);
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.4);
        width: 7vmin;
        height: 7vmin; }
      .wedding-countdown .simply-section div .simply-word {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 1.5vmin;
        margin-top: 0.75vmin;
        text-transform: uppercase;
        letter-spacing: 0.5vmin;
        text-indent: 0.5vmin; }

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
nav#navbar {
  z-index: 100 !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 100%;
  background: #FFFFFF;
  font-weight: bold;
  letter-spacing: 0.025em;
  box-shadow: 0 0 1px 0 #454545; }
  nav#navbar .logo {
    width: 3.5em;
    height: 3.5em;
    padding: 0.75em; }
    nav#navbar .logo:after {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    nav#navbar .logo svg {
      fill: #454545; }
      nav#navbar .logo svg:hover {
        fill: #8964C2; }
  nav#navbar .menu-menu-container {
    width: 80%;
    margin: 0 2vmin; }
    nav#navbar .menu-menu-container ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      width: 100%;
      padding: 0;
      margin: 0; }
      nav#navbar .menu-menu-container ul li {
        position: relative;
        display: inline-block;
        margin: 2vh 0; }
        nav#navbar .menu-menu-container ul li.highlighted > a {
          color: #8964C2; }
        nav#navbar .menu-menu-container ul li a {
          padding: 3.5vh 0;
          line-height: 5vh;
          position: relative;
          color: #454545;
          text-decoration: none; }
          nav#navbar .menu-menu-container ul li a:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            margin-bottom: -1px;
            background-color: transparent;
            transition: all .25s ease-in-out; }
          nav#navbar .menu-menu-container ul li a:hover:after {
            background-color: #8964C2; }
        nav#navbar .menu-menu-container ul li.current_page_item a:after {
          background-color: #8964C2; }
  nav#navbar #menu-toggle {
    display: none; }
  nav#navbar .logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  nav#navbar .menu-menu-container {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  nav#navbar .label-toggle {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  @media screen and (max-width: 1024px) {
    nav#navbar {
      position: absolute;
      z-index: 10;
      overflow: hidden; }
    nav#navbar .menu-menu-container ul {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      transition: all 1s ease;
      max-height: 0; }
      nav#navbar .menu-menu-container ul:first-child {
        padding-top: 5em; }
    nav#navbar #menu-toggle:checked ~ .menu-menu-container ul {
      max-height: 100vh; }
    nav#navbar .label-toggle {
      background: linear-gradient(to bottom, #454545 0%, #454545 20%, transparent 20%, transparent 40%, #454545 40%, #454545 60%, transparent 60%, transparent 80%, #454545 80%, #454545 100%);
      cursor: pointer;
      height: 2em;
      width: 2em;
      margin: 1.5em; } }

/*--------------------------------------------------------------
# Home page
--------------------------------------------------------------*/
#content {
  color: #454545; }
  #content .description-image {
    width: 35vmin;
    border-radius: 50%;
    margin-bottom: 2em; }

/*--------------------------------------------------------------
# RSVP
--------------------------------------------------------------*/
.entry-content-page .rsvp-content {
  font-family: "slabo-font";
  -moz-font-feature-settings: "liga=1", "kern=1", "calt=0", "dlig=0", "salt=0", "swsh=0", "titl=0";
  -moz-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
  -o-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
  -webkit-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
  font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0; }
  .entry-content-page .rsvp-content #rsvpArea + #rsvpPlugin > .rsvpParagraph {
    font-size: 2vmin;
    color: #8964C2; }
  .entry-content-page .rsvp-content #rsvpPlugin form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
    .entry-content-page .rsvp-content #rsvpPlugin form#rsvp, .entry-content-page .rsvp-content #rsvpPlugin form[name="rsvpForm"] {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    .entry-content-page .rsvp-content #rsvpPlugin form .rsvpParagraph {
      width: 100%; }
      .entry-content-page .rsvp-content #rsvpPlugin form .rsvpParagraph label {
        display: block;
        text-align: left;
        font-weight: bold;
        margin-bottom: 1vmin; }
        .entry-content-page .rsvp-content #rsvpPlugin form .rsvpParagraph label.error {
          font-weight: normal;
          color: #E80000; }
      .entry-content-page .rsvp-content #rsvpPlugin form .rsvpParagraph input[type="text"] {
        background: #f7f7f7;
        border: 1px solid #c4c4c4;
        border-radius: 0;
        box-shadow: none;
        color: #787878;
        height: 5vmin;
        width: 100%;
        display: block; }
        .entry-content-page .rsvp-content #rsvpPlugin form .rsvpParagraph input[type="text"].error {
          border-color: #E80000; }
  .entry-content-page .rsvp-content .rsvpParagraph {
    display: inline-block; }
    .entry-content-page .rsvp-content .rsvpParagraph input[type="submit"] {
      margin-top: inherit;
      display: block; }
    .entry-content-page .rsvp-content .rsvpParagraph strong {
      white-space: pre-line; }
  .entry-content-page .rsvp-content .rsvpFormField, .entry-content-page .rsvp-content .rsvpFormField textarea {
    max-width: 100%; }
  .entry-content-page .rsvp-content form#rsvpForm .rsvpCustomQuestions > .rsvpFormField {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .entry-content-page .rsvp-content form#rsvpForm .rsvpCustomQuestions > .rsvpFormField > .rsvpParagraph, .entry-content-page .rsvp-content form#rsvpForm .rsvpCustomQuestions > .rsvpFormField > .rsvpClear {
      display: none; }
  .entry-content-page .rsvp-content form#rsvpForm .rsvpCustomQuestions + .rsvpParagraph {
    margin-top: 7vmin; }
  .entry-content-page .rsvp-content form#rsvpForm .rsvpFormField.rsvpCheckboxCustomQ {
    margin: 0 4vmin;
    text-align: center; }
  .entry-content-page .rsvp-content form#rsvpForm .rsvpAdditionalAttendeeQuestions {
    text-align: center; }
  .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] {
    cursor: pointer; }
    .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label {
      display: table-caption;
      text-align: center;
      cursor: pointer;
      height: 8vmin; }
      .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label:before {
        font-family: "icomoon";
        -moz-font-feature-settings: "liga=1", "kern=1", "calt=0", "dlig=0", "salt=0", "swsh=0", "titl=0";
        -moz-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
        -o-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
        -webkit-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
        font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
        color: #454545;
        font-size: 3.25em;
        display: inline-block;
        width: 100%;
        height: 75%;
        margin: 5px 0; }
      .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label[for$="question11"]:before {
        content: ""; }
      .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label[for$="question12"]:before, .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label[for$="question25"]:before {
        content: ""; }
      .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label[for$="question13"]:before, .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label[for$="question26"]:before {
        content: ""; }
      .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label[for$="question14"]:before, .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox] + label[for$="question27"]:before {
        font-size: 1.25em;
        line-height: 2.5;
        content: ""; }
    .entry-content-page .rsvp-content form#rsvpForm input[type=checkbox]:checked + label:before {
      color: #8964C2; }

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.button, input[type="submit"], input[type="button"].ninja-forms-field.nf-element {
  padding: 1vmin 2vmin;
  font-size: 100%;
  cursor: pointer; }
  .button, input[type="submit"], input[type="button"].ninja-forms-field.nf-element {
    cursor: pointer;
    border: 2px solid #8964C2;
    color: #8964C2;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0); }
    .button:hover, .button.is-checked, input[type="submit"]:hover, input[type="submit"].is-checked, input[type="button"].ninja-forms-field.nf-element:hover, input[type="button"].ninja-forms-field.nf-element.is-checked {
      color: #FFFFFF;
      background: #8964C2; }
    .button:active, input[type="submit"]:active, input[type="button"].ninja-forms-field.nf-element:active {
      border: 2px solid #8964C2;
      background: #8964C2;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none; }

/*--------------------------------------------------------------
# Wedding list
--------------------------------------------------------------*/
.wedding-list .text {
  padding: 1em;
  line-height: 1.6em; }

.wedding-list .icon-gift {
  font-size: 12vmin;
  color: #8964C2; }

.wishlist {
  margin: auto; }
  .wishlist li {
    border-bottom: 2px solid #8964C2; }
  .wishlist .content-wrapper .buy-button.unavailable {
    opacity: 0.5;
    background: transparent;
    pointer-events: none;
    cursor: default; }
  .wishlist .content-wrapper .price {
    margin: 0.2em 0;
    font-size: 1.6em;
    font-weight: bold;
    color: #8964C2; }

/*--------------------------------------------------------------
# Our story - Timeline
--------------------------------------------------------------*/
.our-timeline-story {
  position: relative; }
  .our-timeline-story .line, .our-timeline-story .year {
    background-color: #8964C2; }
  .our-timeline-story .line {
    position: absolute;
    width: 4px;
    left: 50%;
    margin: 0 -2px;
    top: 0;
    bottom: 0; }
  .our-timeline-story .timeline-content .year {
    display: block;
    width: 70px;
    height: 28px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px;
    border-radius: 11px;
    text-align: center;
    font-weight: bold;
    line-height: 28px;
    color: #fff;
    margin: 0 auto 3em;
    position: relative;
    border: 6px solid #FFFFFF; }
  .our-timeline-story .timeline-content .post {
    padding: 0 0 3em 0;
    margin: 0; }
    .our-timeline-story .timeline-content .post.odd .post-content {
      float: left;
      padding: 0 35px 0 0; }
      .our-timeline-story .timeline-content .post.odd .post-content .box:before {
        left: auto;
        right: -6px;
        border-top: 0;
        border-left: none; }
    .our-timeline-story .timeline-content .post.odd .data {
      float: right;
      padding: 12px 0 0 35px; }
    .our-timeline-story .timeline-content .post.even .post-content {
      float: right;
      padding: 0 0 0 35px; }
    .our-timeline-story .timeline-content .post.even .data {
      float: left;
      padding: 12px 35px 0 0; }
    .our-timeline-story .timeline-content .post.even .date {
      float: right;
      right: 50%;
      left: auto;
      transform: translateX(-35px); }
      .our-timeline-story .timeline-content .post.even .date:before {
        left: auto;
        right: -3px; }
      .our-timeline-story .timeline-content .post.even .date:after {
        left: auto;
        right: -45px;
        visibility: visible;
        animation: cd-reveal-image .6s; }
    .our-timeline-story .timeline-content .post .date {
      float: left;
      left: 50%;
      transform: translateX(35px);
      height: 28px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      background-color: #c7c5c3;
      text-align: center;
      font-weight: bold;
      line-height: 28px;
      color: #fff;
      padding: 0 10px;
      position: relative;
      margin: 0; }
      .our-timeline-story .timeline-content .post .date.empty {
        padding: 0; }
        .our-timeline-story .timeline-content .post .date.empty:before {
          content: none; }
      .our-timeline-story .timeline-content .post .date:before {
        content: '';
        width: 10px;
        height: 10px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        display: block;
        left: -3px;
        top: 10px;
        background-color: #c7c5c3; }
      .our-timeline-story .timeline-content .post .date:after {
        width: 12px;
        height: 12px;
        border: 4px solid #8964C2;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        -webkit-background-clip: padding;
        -moz-background-clip: padding;
        -ms-background-clip: padding;
        -o-background-clip: padding;
        background-clip: padding;
        background-color: #FFFFFF;
        -webkit-box-shadow: 0 0 0 5px #FFFFFF;
        -moz-box-shadow: 0 0 0 5px #FFFFFF;
        -ms-box-shadow: 0 0 0 5px #FFFFFF;
        -o-box-shadow: 0 0 0 5px #FFFFFF;
        box-shadow: 0 0 0 5px #FFFFFF;
        content: '';
        left: -45px;
        top: 4px;
        display: block;
        position: absolute; }
    .our-timeline-story .timeline-content .post .post-content {
      clear: both;
      top: -37px;
      width: 50%;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      .our-timeline-story .timeline-content .post .post-content .box {
        position: relative;
        background: #f8f8f8;
        -webkit-box-shadow: 0 3px 0 #dedede;
        -moz-box-shadow: 0 3px 0 #dedede;
        -ms-box-shadow: 0 3px 0 #dedede;
        -o-box-shadow: 0 3px 0 #dedede;
        box-shadow: 0 3px 0 #dedede;
        padding: 20px 20px 1px; }
        .our-timeline-story .timeline-content .post .post-content .box:before {
          position: absolute;
          width: 10px;
          height: 10px;
          content: '';
          border-right: 0;
          border-bottom: 0;
          display: block;
          -webkit-background-clip: padding-box;
          -moz-background-clip: padding-box;
          -ms-background-clip: padding-box;
          -o-background-clip: padding-box;
          background-clip: padding-box;
          background-clip: padding-box;
          background-color: #f8f8f8;
          left: -6px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .our-timeline-story .timeline-content .post .post-content .box h2 {
          font-family: "lavanderia-font", sans-serif;
          -moz-font-feature-settings: "liga=1", "kern=1", "calt=0", "dlig=0", "salt=0", "swsh=0", "titl=0";
          -moz-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
          -o-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
          -webkit-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
          font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0; }
          .our-timeline-story .timeline-content .post .post-content .box h2 .subtitle {
            display: block;
            font-weight: normal;
            font-size: .9em; }
    .our-timeline-story .timeline-content .post .data {
      margin-top: 20px;
      width: 50%;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      .our-timeline-story .timeline-content .post .data .iframe-wrapper {
        position: relative;
        overflow: hidden;
        max-width: 100%;
        padding-bottom: 56.25%; }
        .our-timeline-story .timeline-content .post .data .iframe-wrapper.spotify-wrapper {
          height: 110px; }
        .our-timeline-story .timeline-content .post .data .iframe-wrapper iframe, .our-timeline-story .timeline-content .post .data .iframe-wrapper object, .our-timeline-story .timeline-content .post .data .iframe-wrapper embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
        .our-timeline-story .timeline-content .post .data .iframe-wrapper .youtube {
          background-color: #000;
          position: relative;
          padding-top: 56.25%;
          overflow: hidden;
          cursor: pointer; }
          .our-timeline-story .timeline-content .post .data .iframe-wrapper .youtube img {
            width: 100%;
            top: -16.84%;
            left: 0;
            opacity: 0.7; }
          .our-timeline-story .timeline-content .post .data .iframe-wrapper .youtube .play-button {
            width: 90px;
            height: 60px;
            background-color: #454545;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
            z-index: 1;
            opacity: 0.8;
            border-radius: 6px; }
            .our-timeline-story .timeline-content .post .data .iframe-wrapper .youtube .play-button:before {
              content: "";
              border-style: solid;
              border-width: 15px 0 15px 26.0px;
              border-color: transparent transparent transparent #FFFFFF; }
            .our-timeline-story .timeline-content .post .data .iframe-wrapper .youtube .play-button, .our-timeline-story .timeline-content .post .data .iframe-wrapper .youtube .play-button:before {
              top: 50%;
              left: 50%;
              -webkit-transform: translate3d(-50%, -50%, 0);
              -moz-transform: translate3d(-50%, -50%, 0);
              -ms-transform: translate3d(-50%, -50%, 0);
              -o-transform: translate3d(-50%, -50%, 0);
              transform: translate3d(-50%, -50%, 0); }
          .our-timeline-story .timeline-content .post .data .iframe-wrapper .youtube img, .our-timeline-story .timeline-content .post .data .iframe-wrapper .youtube .play-button {
            cursor: pointer; }
          .our-timeline-story .timeline-content .post .data .iframe-wrapper .youtube img, .our-timeline-story .timeline-content .post .data .iframe-wrapper .youtube .play-button, .our-timeline-story .timeline-content .post .data .iframe-wrapper .youtube .play-button:before {
            position: absolute; }
      .our-timeline-story .timeline-content .post .data .gallery {
        margin: auto;
        max-width: 230px;
        padding: 10px 37px;
        background: #f8f8f8;
        -webkit-box-shadow: 0 3px 0 #dedede;
        -moz-box-shadow: 0 3px 0 #dedede;
        -ms-box-shadow: 0 3px 0 #dedede;
        -o-box-shadow: 0 3px 0 #dedede;
        box-shadow: 0 3px 0 #dedede; }
        .our-timeline-story .timeline-content .post .data .gallery .album {
          height: 60px; }
          .our-timeline-story .timeline-content .post .data .gallery .album .slick-prev:before, .our-timeline-story .timeline-content .post .data .gallery .album .slick-next:before {
            color: #8964C2; }
          .our-timeline-story .timeline-content .post .data .gallery .album .slick-list, .our-timeline-story .timeline-content .post .data .gallery .album .slick-track, .our-timeline-story .timeline-content .post .data .gallery .album img {
            height: 100%; }
          .our-timeline-story .timeline-content .post .data .gallery .album .slick-slide {
            margin: 0 5px; }
  .our-timeline-story .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    height: 0; }

@media (max-width: 1024px) {
  .our-timeline-story .line {
    left: 40px; }
  .our-timeline-story .timeline-content span.year {
    margin: 0 auto 3em 0; }
  .our-timeline-story .timeline-content .post.odd .date, .our-timeline-story .timeline-content .post.even .date {
    float: left;
    left: 75px;
    transform: none; }
    .our-timeline-story .timeline-content .post.odd .date.empty, .our-timeline-story .timeline-content .post.even .date.empty {
      display: none; }
    .our-timeline-story .timeline-content .post.odd .date:before, .our-timeline-story .timeline-content .post.even .date:before {
      left: -3px; }
    .our-timeline-story .timeline-content .post.odd .date:after, .our-timeline-story .timeline-content .post.even .date:after {
      left: -45px; }
  .our-timeline-story .timeline-content .post.odd .post-content, .our-timeline-story .timeline-content .post.even .post-content {
    float: right;
    padding: 0 35px 0 0;
    width: 85%;
    top: 0;
    margin-top: 30px; }
    .our-timeline-story .timeline-content .post.odd .post-content .box:before, .our-timeline-story .timeline-content .post.even .post-content .box:before {
      content: none; }
  .our-timeline-story .timeline-content .post.odd .data, .our-timeline-story .timeline-content .post.even .data {
    float: right;
    width: 85%;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px; }
    .our-timeline-story .timeline-content .post.odd .data .spotify-wrapper, .our-timeline-story .timeline-content .post.even .data .spotify-wrapper {
      padding-bottom: 0px; } }

/*--------------------------------------------------------------
# Location - Timeline
--------------------------------------------------------------*/
.entry-content-page .cd-container.timeline-express.single-column {
  margin-top: 1em !important; }

.entry-content-page .cd-container.timeline-express.single-column::before {
  left: 2.5vmin !important; }

.entry-content-page .cd-container.timeline-express.single-column .cd-timeline-img {
  left: -0.5vw !important; }

.entry-content-page .cd-timeline-content {
  position: relative;
  top: 0; }
  .entry-content-page .cd-timeline-content::before {
    top: 2.5vmin; }
  .entry-content-page .cd-timeline-content .cd-timeline-item-title {
    font-size: 2em;
    font-family: "lavanderia-font", sans-serif;
    -moz-font-feature-settings: "liga=1", "kern=1", "calt=0", "dlig=0", "salt=0", "swsh=0", "titl=0";
    -moz-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
    -o-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
    -webkit-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
    font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0; }
  .entry-content-page .cd-timeline-content .the-excerpt {
    position: initial; }
    .entry-content-page .cd-timeline-content .the-excerpt .wpgmp_map_container {
      margin-top: 1.5em; }
    .entry-content-page .cd-timeline-content .the-excerpt .time {
      position: absolute;
      margin: 2vw 0;
      font-size: 1.6em;
      font-weight: bold;
      top: 0;
      color: #8964C2; }
    .entry-content-page .cd-timeline-content .the-excerpt .description {
      margin-bottom: 1vmin; }
      .entry-content-page .cd-timeline-content .the-excerpt .description .text {
        width: 70%;
        padding: 0.5em; }
        .entry-content-page .cd-timeline-content .the-excerpt .description .text .location {
          margin: 1vmin; }
          .entry-content-page .cd-timeline-content .the-excerpt .description .text .location a {
            text-decoration: none; }
            .entry-content-page .cd-timeline-content .the-excerpt .description .text .location a:hover {
              text-decoration: underline; }
        .entry-content-page .cd-timeline-content .the-excerpt .description .text .warning {
          font-style: italic;
          font-size: 0.9em;
          color: #707070; }
          .entry-content-page .cd-timeline-content .the-excerpt .description .text .warning .icon-warning {
            font-size: 1.25em;
            display: block;
            margin-bottom: 0.25em;
            color: #E7536F; }
      .entry-content-page .cd-timeline-content .the-excerpt .description .img-location {
        width: 30%; }
        .entry-content-page .cd-timeline-content .the-excerpt .description .img-location img {
          max-width: 100%;
          box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); }

.entry-content-page .cd-timeline-img span::before {
  font-family: "icomoon";
  -moz-font-feature-settings: "liga=1", "kern=1", "calt=0", "dlig=0", "salt=0", "swsh=0", "titl=0";
  -moz-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
  -o-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
  -webkit-font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
  font-feature-settings: "liga" 1, "kern" 1, "calt" 0, "dlig" 0, "salt" 0, "swsh" 0, "titl" 0;
  color: #FFFFFF;
  line-height: 1.5; }

.entry-content-page .cd-timeline-img span[title="Mairie"]::before {
  font-size: 40px;
  content: ""; }

.entry-content-page .cd-timeline-img span[title="Eglise"]::before {
  font-size: 35px;
  content: ""; }

.entry-content-page .cd-timeline-img span[title="Réception"]::before {
  font-size: 55px;
  line-height: 0.75;
  content: ""; }

/*--------------------------------------------------------------
# Loader
--------------------------------------------------------------*/
#site-loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0; }

#site-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 60999;
  background: #454545; }

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75); }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75); } }

#heart {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 90px;
  animation: heartbeat 1s infinite; }

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #E7536F;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%; }

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }
