@import 'variables';
@import 'mixins';
@import 'icomoon';

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: lavanderia-font;
  src: url("#{$font-path}/Lavanderia Sturdy.otf");
}

@font-face {
  font-family: slabo-font;
  src: url("#{$font-path}/Slabo27px-Regular.ttf");
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
body, html {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  @include simple-font("slabo-font");
  color: $primary-color;
  background-color: $background-color;
}

#container {
  position: relative;
  &.include-content {
    min-height: 100%;
  }
}

#content {
  margin: 2em 0;

  .highlighted {
    color: $primary-color;
  }
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    text-decoration: underline;
  }
}

textarea {
  max-width: 100%;
}

.centered-column-container {
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-around);
  @include flex-direction(column);
}

.centered-row-container {
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-around);
  @include flex-direction(row);
}

.entry-content-page {
  width: 75%;
  margin: 0 auto;
  background: $third-color;
  box-shadow: 0 0 1px 0 #454545;
  padding: 2vmin;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  &.other-section {
    margin: 2em auto;
  }
}

.title-parts {
  font-size: 12vmin;
  @include simple-font("slabo-font");
  color: $secondary-color;
  position: relative;
  padding-bottom: 4.5vmin;
  margin-bottom: 5.5vmin;
  margin-top: 3.5vmin;

  .part-2 {
    font-size: 0.5em;
    @include simple-font("lavanderia-font", sans-serif);
    color: $primary-color;
    position: absolute;
    bottom: 0;
    left: 15vmin;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .entry-content-page {
    width: 940px;
  }
}

/*--------------------------------------------------------------
# Lodging
--------------------------------------------------------------*/
.sort {
  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-end);

  margin: 4vmin;

  .sort-title {
    padding-bottom: 30px;
    margin-right: 10px;
  }

  .button-group, .category {
    display: inline-block;
    margin: 0 5px;

    .button {
      width: 100px;
    }

    .subtitle {
      display: block;
      text-align: center;
      margin-top: 10px;
      font-size: 0.9em;
    }
  }
}

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
.grid {
  width: 96%;
  margin: auto;

  .gutter-sizer {
    width: 4%;
  }

  .grid-item {
    width: 48%;
    min-height: 560px;
    margin-bottom: 4%;

    &.large {
      width: 100%;

      .image img {
        width: 100%;
        height: auto;
      }
    }

    &.title {
      min-height: 0;
      height: auto;
      margin-bottom: 2.15em;
    }

    &.more {
      padding-top: 5em;
      min-height: 0;

      &.no-title {
        padding-top: 0;
      }

      .image {
        margin-top: 1.5em;
      }
    }

    .more-title {
      @include simple-font("lavanderia-font", sans-serif);
      background: $third-color;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 1em;
      padding-bottom: 0.85em;
      font-size: 1.5em;
    }

    padding: 1.5em;
    box-sizing: border-box;
    background: #f8f8f8;
    box-shadow: 0 3px 0 #dedede;

    .image {
      margin-bottom: 1em;

      img {
        width: auto;
        height: 300px;
        display: block;
        margin: auto;
        object-fit: cover;
        object-position: center;
        max-width: 100%;
      }
    }

    .title {
      @include simple-font("lavanderia-font", sans-serif);
      color: $secondary-color;
      font-size: 1.5em;

      &:hover {
        text-decoration: none;
        color: $primary-color;
      }
    }

    .text .info {
      list-style-type: none;
      text-align: left;

      .icon {
        font-size: 1.25em;
        color: $primary-color;
        margin-right: 0.8em;
        width: 25px;
        display: inline-block;
        text-align: center;
      }

      .no-paragraph {
        position: relative;

        a {
          position: absolute;
          top: 0;
          margin-top: 0.25em;
        }
      }
    }
  }

  .image a,
  .image a img {
    display: block;
    position: relative;
  }
  .image a {
    overflow: hidden;
  }
  .image a p {
    display: none;
  }
  .image a div {
    position: absolute;
    background: rgba(0, 0, 0, .55);
    width: 100%;
    height: 100%;
    color: $third-color;
    cursor: pointer;
    word-wrap: break-word;
  }
  .image a div span {
    color: #fff;
    display: block;
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 8px;
    line-height: 120%;
    opacity: .9;
    padding: 0 5%;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media (max-width: 1024px) {
  .grid .grid-item {
    width: 98%;
    margin-bottom: 2%;
  }
  .grid .gutter-sizer {
    width: 0;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.sakura {
  background: $primary-color;
}

#stephanie-header {
  overflow: hidden;
  position: relative;
  height: 100%;
  cursor: default;

  /* Create the parallax scrolling effect */
  background: $background-color no-repeat fixed center;
  background-size: cover;

  .content {
    position: absolute;
    height: 80%;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .logo {
      height: 60%;
      @include simple-font("lavanderia-font", sans-serif);
      color: $third-color;

      justify-content: center;

      .title {
        font-size: 6vmin;
      }

      .subtitle {
        font-size: 4vmin;
      }

      .header-divider-container {
        margin: 1.5vmin;
        box-sizing: border-box;

        svg {
          width: 30vmin;
          height: 9.385vmin;

          fill: $third-color;
        }
      }
    }
  }

  .index-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    a {
      display: inline-block;
      font-style: italic;

      animation: jumping 2s ease-in-out 0s infinite;

      &, &:visited, &:link {
        color: $third-color;
        text-decoration: none;
        transition: 0.2s;
      }

      &:active, &:hover {
        color: $primary-color;
      }

      .text {
        display: block;
        font-size: 1.75vmin;
        letter-spacing: 0.25vmin;
      }
      .icon {
        font-size: 3vmin;
      }
    }
  }
}

@keyframes jumping {
  0% {
    transform: translate(0, 0)
  }
  50% {
    transform: translate(0, -2vmin)
  }
}

/*--------------------------------------------------------------
# Wedding Countdown
--------------------------------------------------------------*/
.wedding-countdown {
  height: 9vmin;

  .simply-section {
    @include flexbox;
    @include justify-content(space-around);

    width: 14vmin;
    color: $third-color;
    font-size: 2.5vmin;

    div {
      @include flexbox;
      @include align-items(center);
      @include flex-direction(column);

      .simply-amount {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-around);

        box-sizing: border-box;
        background: rgba($secondary-color, .4);
        border-radius: 50%;
        border: 1px solid rgba($third-color, .4);
        width: 7vmin;
        height: 7vmin;
      }

      .simply-word {
        @include flexbox;
        @include align-items(center);
        @include flex-direction(column);

        font-size: 1.5vmin;
        margin-top: 0.75vmin;
        text-transform: uppercase;
        letter-spacing: 0.5vmin;
        text-indent: 0.5vmin;
      }
    }
  }
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
nav#navbar {
  z-index: 100 !important;
  @include flexbox;
  @include justify-content(space-around);
  width: 100%;
  background: $nav-background;
  font-weight: bold;
  letter-spacing: 0.025em;
  box-shadow: 0 0 1px 0 $secondary-color;

  .logo {
    width: 3.5em;
    height: 3.5em;
    padding: 0.75em;

    &:after {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      fill: $secondary-color;

      &:hover {
        fill: $primary-color;
      }
    }
  }

  .menu-menu-container {
    width: 80%;
    margin: 0 2vmin;

    ul {
      @include flexbox;
      @include justify-content(space-around);
      width: 100%;
      padding: 0;
      margin: 0;

      li {
        position: relative;
        display: inline-block;
        margin: 2vh 0;

        &.highlighted > a {
          color: $primary-color;
        }

        a {

          padding: 3.5vh 0;
          line-height: 5vh;

          position: relative;
          color: $nav-text-color;
          text-decoration: none;

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            margin-bottom: -1px;
            background-color: transparent;
            transition: all .25s ease-in-out;
          }

          &:hover:after {
            background-color: $primary-color;
          }
        }

        &.current_page_item a:after {
          background-color: $primary-color;
        }
      }
    }
  }

  #menu-toggle {
    display: none;
  }

  .logo {
    @include order(1);
  }

  .menu-menu-container {
    @include order(2);
  }

  .label-toggle {
    @include order(3);
  }

  @media screen and (max-width: 1024px) {
    & {
      position: absolute;
      z-index: 10;
      overflow: hidden;
    }

    .menu-menu-container ul {
      @include justify-content(space-between);
      @include flex-direction(column);
      transition: all 1s ease;
      max-height: 0;

      &:first-child {
        padding-top: 5em;
      }
    }

    #menu-toggle:checked ~ .menu-menu-container ul {
      max-height: 100vh;
    }

    .label-toggle {
      background: linear-gradient(to bottom, $secondary-color 0%, $secondary-color 20%, transparent 20%, transparent 40%, $secondary-color 40%, $secondary-color 60%, transparent 60%, transparent 80%, $secondary-color 80%, $secondary-color 100%); //Gradient Hamburger
      cursor: pointer;
      height: 2em;
      width: 2em;
      margin: 1.5em;
    }
  }
}

/*--------------------------------------------------------------
# Home page
--------------------------------------------------------------*/
#content {
  color: $secondary-color;

  .description-image {
    width: 35vmin;
    border-radius: 50%;
    margin-bottom: 2em;
  }
}

/*--------------------------------------------------------------
# RSVP
--------------------------------------------------------------*/
.entry-content-page {
  .rsvp-content {
    @include simple-font("slabo-font");

    #rsvpArea + #rsvpPlugin > .rsvpParagraph {
      font-size: 2vmin;
      color: #8964C2;
    }

    #rsvpPlugin {

      form {
        @include flexbox;
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(space-around);

        &#rsvp, &[name="rsvpForm"] {
          @include flex-direction(column);
        }

        .rsvpParagraph {
          width: 100%;

          label {
            display: block;
            text-align: left;
            font-weight: bold;
            margin-bottom: 1vmin;

            &.error {
              font-weight: normal;
              color: $error-color;
            }
          }

          input[type="text"] {
            background: #f7f7f7;
            border: 1px solid #c4c4c4;
            border-radius: 0;
            box-shadow: none;
            color: #787878;
            height: 5vmin;
            width: 100%;
            display: block;

            &.error {
              border-color: $error-color;
            }
          }
        }
      }
    }

    .rsvpParagraph {
      display: inline-block;

      input[type="submit"] {
        margin-top: inherit;
        display: block;
      }

      strong {
        white-space: pre-line;
      }
    }

    .rsvpFormField {
      &, textarea {
        max-width: 100%;
      }
    }

    form#rsvpForm {
      .rsvpCustomQuestions {
        & > .rsvpFormField {
          @include flexbox;
          @include align-items(center);
          @include justify-content(space-around);
          @include flex-direction(row);

          & > .rsvpParagraph, & > .rsvpClear {
            display: none;
          }
        }

        & + .rsvpParagraph {
          margin-top: 7vmin;
        }
      }

      .rsvpFormField.rsvpCheckboxCustomQ {
        margin: 0 4vmin;
        text-align: center;
      }

      .rsvpAdditionalAttendeeQuestions {
        text-align: center;
      }

      input[type=checkbox] {
        cursor: pointer;

        & + label {
          display: table-caption;
          text-align: center;
          cursor: pointer;
          height: 8vmin;

          &:before {
            @include simple-font("icomoon");
            color: $secondary-color;
            font-size: 3.25em;
            display: inline-block;
            width: 100%;
            height: 75%;
            margin: 5px 0;
          }

          &[for$="question11"]:before {
            content: $icon-town-hall;
          }

          &[for$="question12"]:before, &[for$="question25"]:before {
            content: $icon-church;
          }

          &[for$="question13"]:before, &[for$="question26"]:before {
            content: $icon-reception;
          }

          &[for$="question14"]:before, &[for$="question27"]:before {
            font-size: 1.25em;
            line-height: 2.5;
            content: $icon-diner;
          }
        }

        &:checked + label {
          &:before {
            color: $primary-color;
          }
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.button, input[type="submit"], input[type="button"].ninja-forms-field.nf-element {
  padding: 1vmin 2vmin;
  font-size: 100%;
  cursor: pointer;

  & {
    cursor: pointer;
    border: 2px solid $primary-color;
    color: $primary-color;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);

    &:hover, &.is-checked {
      color: $third-color;
      background: $primary-color;
    }

    &:active {
      border: 2px solid $primary-color;
      background: $primary-color;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
    }
  }
}

/*--------------------------------------------------------------
# Wedding list
--------------------------------------------------------------*/
.wedding-list {
  .text {
    padding: 1em;
    line-height: 1.6em;
  }

  .icon-gift {
    font-size: 12vmin;
    color: $primary-color;
  }
}

.wishlist {
  margin: auto;

  li {
    border-bottom: 2px solid $primary-color;
  }

  .content-wrapper {
    .buy-button {
      &.unavailable {
        opacity: 0.5;
        background: transparent;
        pointer-events: none;
        cursor: default;
      }
    }

    .price {
      margin: 0.2em 0;
      font-size: 1.6em;
      font-weight: bold;
      color: #8964C2;
    }
  }
}

/*--------------------------------------------------------------
# Our story - Timeline
--------------------------------------------------------------*/
.our-timeline-story {
  position: relative;

  .line, .year {
    background-color: $primary-color;
  }

  .line {
    position: absolute;
    width: 4px;
    left: 50%;
    margin: 0 -2px;
    top: 0;
    bottom: 75px;
  }

  .timeline-content {
    .year {
      display: block;
      width: 70px;
      height: 28px;
      @include vendor-prefix('border-radius', 11px);
      border-radius: 11px;
      text-align: center;
      font-weight: bold;
      line-height: 28px;
      color: #fff;
      margin: 0 auto 3em;
      position: relative;
      border: 6px solid $third-color;
    }

    .post {
      padding: 0 0 3em 0;
      margin: 0;

      &.odd {
        .post-content {
          float: left;
          padding: 0 35px 0 0;

          .box:before {
            left: auto;
            right: -6px;
            border-top: 0;
            border-left: none;
          }
        }

        .data {
          float: right;
          padding: 12px 0 0 35px;
        }
      }

      &.even {
        .post-content {
          float: right;
          padding: 0 0 0 35px;
        }

        .data {
          float: left;
          text-align: right;
          padding: 12px 35px 0 0;

          .date {
            float: right;

            &:before {
              left: auto;
              right: -3px;
            }

            &:after {
              left: auto;
              right: -45px;

              visibility: visible;
              animation: cd-reveal-image .6s;
            }
          }
        }
      }

      .post-content {
        width: 50%;
        position: relative;
        @include vendor-prefix('box-sizing', border-box);

        .box {
          position: relative;
          background: #f8f8f8;
          @include vendor-prefix('box-shadow', 0 3px 0 #dedede);
          padding: 20px 20px 1px;

          &:before {
            position: absolute;
            width: 10px;
            height: 10px;
            content: '';
            border-right: 0;
            border-bottom: 0;
            display: block;
            @include vendor-prefix('background-clip', padding-box);
            background-clip: padding-box;
            background-color: #f8f8f8;
            left: -6px;
            @include vendor-prefix('transform', rotate(-45deg));
          }

          h2 {
            @include simple-font("lavanderia-font", sans-serif);

            .subtitle {
              display: block;
              font-weight: normal;
              font-size: .9em;
            }
          }
        }
      }

      .data {
        width: 50%;
        position: relative;
        @include vendor-prefix('box-sizing', border-box);

        .date {
          float: left;
          height: 28px;
          @include vendor-prefix('border-radius', 5px);
          background-color: #c7c5c3;
          text-align: center;
          font-weight: bold;
          line-height: 28px;
          color: #fff;
          padding: 0 10px;
          position: relative;
          margin: 0 0 1.52em 0;

          &.empty {
            padding: 0;

            &:before {
              content: none;
            }
          }

          &:before {
            content: '';
            width: 10px;
            height: 10px;
            @include vendor-prefix('transform', rotate(-45deg));
            position: absolute;
            display: block;
            left: -3px;
            top: 10px;
            background-color: #c7c5c3;
          }

          &:after {
            width: 12px;
            height: 12px;
            border: 4px solid $primary-color;
            @include vendor-prefix('border-radius', 10px);
            @include vendor-prefix('background-clip', padding);
            background-color: $third-color;
            @include vendor-prefix('box-shadow', 0 0 0 5px $third-color);
            content: '';
            left: -45px;
            top: 4px;
            display: block;
            position: absolute;
          }
        }

        .iframe-wrapper {
          position: relative;
          overflow: hidden;
          max-width: 100%;

          &.spotify-wrapper {
            padding-bottom: 56.25%;
            height: 60px;
          }

          iframe, object, embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

          .youtube {
            background-color: #000;
            position: relative;
            padding-top: 56.25%;
            overflow: hidden;
            cursor: pointer;

            img {
              width: 100%;
              top: -16.84%;
              left: 0;
              opacity: 0.7;
            }

            .play-button {
              width: 90px;
              height: 60px;
              background-color: $secondary-color;
              box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
              z-index: 1;
              opacity: 0.8;
              border-radius: 6px;

              &:before {
                content: "";
                border-style: solid;
                border-width: 15px 0 15px 26.0px;
                border-color: transparent transparent transparent $third-color;
              }

              &, &:before {
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
              }
            }

            img, .play-button {
              cursor: pointer;
            }

            img, .play-button, .play-button:before {
              position: absolute;
            }
          }
        }

        .gallery {
          max-width: 230px;
          padding: 10px 37px;
          background: #f8f8f8;
          @include vendor-prefix('box-shadow', 0 3px 0 #dedede);

          .album {
            height: 60px;

            .slick-prev:before, .slick-next:before {
              color: $primary-color;
            }

            .slick-list, .slick-track, img {
              height: 100%;
            }

            .slick-slide {
              margin: 0 5px;
            }
          }
        }
      }
    }
  }

  .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    height: 0;
  }
}

/*--------------------------------------------------------------
# Location - Timeline
--------------------------------------------------------------*/
.entry-content-page {
  // Single column issue fix
  .cd-container.timeline-express.single-column {
    & {
      margin-top: 1em !important;
    }

    &::before {
      left: 2.5vmin !important;
    }

    .cd-timeline-img {
      left: -0.5vw !important;
    }
  }

  .cd-timeline-content {
    position: relative;
    top: 0;

    &::before {
      top: 2.5vmin;
    }

    .cd-timeline-item-title {
      font-size: 2em;
      @include simple-font("lavanderia-font", sans-serif);
    }

    .the-excerpt {
      position: initial;

      .wpgmp_map_container {
        margin-top: 1.5em;
      }

      .time {
        position: absolute;
        margin: 2vw 0;
        font-size: 1.6em;
        font-weight: bold;
        top: 0;
        color: $primary-color;
      }

      .description {
        margin-bottom: 1vmin;

        .text {
          width: 70%;
          padding: 0.5em;

          .location {
            margin: 1vmin;

            a {
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }

          .warning {
            font-style: italic;
            font-size: 0.9em;
            color: $fourth-color;

            .icon-warning {
              font-size: 1.25em;
              display: block;
              margin-bottom: 0.25em;
              color: $heart-color;
            }
          }
        }

        .img-location {
          width: 30%;
          img {
            max-width: 100%;

            box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, .08), 0 3px 0 4px rgba(0, 0, 0, .05);
          }
        }
      }
    }
  }

  .cd-timeline-img {
    span::before {
      @include simple-font("icomoon");
      color: $third-color;
      line-height: 1.5;
    }

    span[title="Mairie"]::before {
      font-size: 40px;
      content: $icon-town-hall;
    }

    span[title="Eglise"]::before {
      font-size: 35px;
      content: $icon-church;
    }

    span[title="Réception"]::before {
      font-size: 55px;
      line-height: 0.75;
      content: $icon-reception;
    }
  }
}

/*--------------------------------------------------------------
# Loader
--------------------------------------------------------------*/
#site-loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

#site-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 60999;
  background: $secondary-color;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.75);
  }
}

#heart {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 90px;
  animation: heartbeat 1s infinite;
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: $heart-color;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  @include vendor-prefix('transform', rotate(-45deg));
  @include vendor-prefix('transform-origin', 0 100%);
}

#heart:after {
  left: 0;
  @include vendor-prefix('transform', rotate(45deg));
  @include vendor-prefix('transform-origin', 100% 100%);
}