/*--------------------------------------------------------------
# Paths
--------------------------------------------------------------*/
$assets-path: "../../assets" !default;
$font-path: "#{$assets-path}/fonts" !default;
$images-path: "#{$assets-path}/images" !default;

/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
$font-path: "../../assets/fonts" !default;
$icon-leaf-top: "\e900";
$icon-leaf-bottom: "\e901";

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
$primary-color: #8964C2;
$secondary-color: #454545;
$heart-color: #E7536F;